Package: obsidianos-imager-dbgsym
Source: obsidianos-imager
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Seth Olivarez <olivarezseth23@gmail.com>
Installed-Size: 2903
Depends: obsidianos-imager (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for obsidianos-imager
Build-Ids: 87d960612be393b3af4aae6e0f4e6dec4490dfa0
