Package: twisteros-imager-dbgsym
Source: twisteros-imager
Version: 1.0
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Seth Olivarez <olivarezseth23@gmail.com>
Installed-Size: 2903
Depends: twisteros-imager (= 1.0)
Section: debug
Priority: optional
Description: debug symbols for twisteros-imager
Build-Ids: 6e0d8090a4d810261f20b2604793169c3ace5a44
